* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

.bg-container {
  background-color: #ececec;
  padding-bottom: 20px;
}
.navbar {
  background-color: #3367d6;
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app-logo {
  width: 75px;
}
.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #2850a7;
  border: 1px solid #6697ff;
  border-radius: 5px;
}

.search-icon {
  margin-right: 15px;
  width: 20px;
  margin: 8px;
}
.search-input {
  background-color: #2850a7;
  border: 0px;
  outline: none;
  height: 35px;
  color: #ececec;
  border-left: 1px solid #6697ff;
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.search-input::placeholder {
  color: #64748b;
}
.list-container {
  list-style-type: none;
  padding: 0px;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.err-msg {
  padding-top: 15%;
}

@media (min-width: 576px) {
  .navbar {
    height: 85px;
  }
  .app-logo {
    width: 120px;
  }
  .search-icon {
    margin-right: 15px;
    width: 25px;
    margin: 16px;
  }
  .search-input {
    width: 250px;
    height: 55px;
    font-size: 20px;
  }
  .err-msg {
    font-size: 25px;
  }
}

@media (min-width: 768px), (min-width: 992px), (min-width: 1200px) {
  .navbar {
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
  .search-container {
    border-radius: 7px;
    margin: auto;
  }
  .search-input {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 2px solid #6697ff;
  }
}

@media (min-width: 768px) {
  .navbar {
    height: 60px;
  }
  .app-logo {
    width: 100px;
  }
  .search-icon {
    margin-right: 15px;
    width: 25px;
    margin: 4px;
  }
  .search-input {
    width: 400px;
    height: 35px;
    font-size: 17px;
  }
  .err-msg {
    font-size: 25px;
  }
}

@media (min-width: 992px) {
 .navbar {
    height: 60px;
  }
  .app-logo {
    width: 100px;
  }
  .search-icon {
    margin-right: 15px;
    width: 25px;
    margin: 4px;
  }
  .search-input {
    width: 450px;
    height: 35px;
    font-size: 17px;
  }
  .err-msg {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .navbar {
    height: 60px;
  }
  .app-logo {
    width: 100px;
  }
  .search-icon {
    margin-right: 15px;
    width: 25px;
    margin: 4px;
  }
  .search-input {
    width: 500px;
    height: 35px;
    font-size: 17px;
  }
  .err-msg {
    font-size: 25px;
  }
}
